In [13]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [29]:
# Read the CSV input file and show first 5 rows
data = pd.read_csv('data.csv')
data.head(3)

      n1        n2       sum
0      3         4         7
1  23432  23423534  23446966
2    976     23423     24399

In [38]:
train = data['sum']

pandas.core.series.Series